In [1]:

# Initial imports
import pandas as pd
from path import Path

In [2]:
# Load the stats.csv dataset.
csv_path = Path("stats.csv")
stats_df = pd.read_csv(csv_path)
stats_df.head()

,Rk,Season,Tm,Lg,G,W,L,W/L%,MOV,SOS,...,eFG%,TS%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TS%,opp_TOV%,opp_ORB%,opp_FT/FGA
0,1,2020-21,WAS*,NBA,72,34,38,0.472,-1.83,-0.01,...,0.531,0.569,12.3,21.3,0.221,0.539,0.576,12.5,22.4,0.217
1,2,2020-21,UTA*,NBA,72,52,20,0.722,9.25,-0.29,...,0.563,0.597,12.7,24.5,0.195,0.507,0.537,10.3,20.7,0.159
2,3,2020-21,TOR,NBA,72,27,45,0.375,-0.47,-0.07,...,0.529,0.567,11.9,20.8,0.196,0.543,0.584,14.4,23.7,0.234
3,4,2020-21,SAS,NBA,72,33,39,0.458,-1.74,0.15,...,0.517,0.554,10.2,20.0,0.192,0.541,0.570,11.8,22.7,0.174
4,5,2020-21,SAC,NBA,72,31,41,0.431,-3.68,0.23,...,0.549,0.578,12.0,21.3,0.185,0.557,0.591,12.1,25.0,0.199

In [3]:
#Process stats df 
stats_df['abbr'] = stats_df['Tm'].str.slice(stop=3)
stats_df['Year'] = stats_df['Season'].str.slice(start=5)
stats_df.head()

,Rk,Season,Tm,Lg,G,W,L,W/L%,MOV,SOS,...,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TS%,opp_TOV%,opp_ORB%,opp_FT/FGA,abbr,Year
0,1,2020-21,WAS*,NBA,72,34,38,0.472,-1.83,-0.01,...,12.3,21.3,0.221,0.539,0.576,12.5,22.4,0.217,WAS,21
1,2,2020-21,UTA*,NBA,72,52,20,0.722,9.25,-0.29,...,12.7,24.5,0.195,0.507,0.537,10.3,20.7,0.159,UTA,21
2,3,2020-21,TOR,NBA,72,27,45,0.375,-0.47,-0.07,...,11.9,20.8,0.196,0.543,0.584,14.4,23.7,0.234,TOR,21
3,4,2020-21,SAS,NBA,72,33,39,0.458,-1.74,0.15,...,10.2,20.0,0.192,0.541,0.570,11.8,22.7,0.174,SAS,21
4,5,2020-21,SAC,NBA,72,31,41,0.431,-3.68,0.23,...,12.0,21.3,0.185,0.557,0.591,12.1,25.0,0.199,SAC,21

In [4]:
# remove usless columns
stats_df = stats_df.drop(['Rk', 'Season', 'Tm', 'Lg'], axis=1)
stats_df.head()

,G,W,L,W/L%,MOV,SOS,SRS,Pace,ORtg,DRtg,...,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TS%,opp_TOV%,opp_ORB%,opp_FT/FGA,abbr,Year
0,72,34,38,0.472,-1.83,-0.01,-1.85,104.1,111.2,113.0,...,12.3,21.3,0.221,0.539,0.576,12.5,22.4,0.217,WAS,21
1,72,52,20,0.722,9.25,-0.29,8.97,98.5,117.6,108.3,...,12.7,24.5,0.195,0.507,0.537,10.3,20.7,0.159,UTA,21
2,72,27,45,0.375,-0.47,-0.07,-0.54,99.2,112.0,112.5,...,11.9,20.8,0.196,0.543,0.584,14.4,23.7,0.234,TOR,21
3,72,33,39,0.458,-1.74,0.15,-1.58,98.9,111.0,112.8,...,10.2,20.0,0.192,0.541,0.570,11.8,22.7,0.174,SAS,21
4,72,31,41,0.431,-3.68,0.23,-3.45,100.0,113.6,117.2,...,12.0,21.3,0.185,0.557,0.591,12.1,25.0,0.199,SAC,21

In [5]:

# Load the champions.csv dataset.
csv_path = Path("champions.csv")
champions_df = pd.read_csv(csv_path)
champions_df

,Year,Lg,Champion,Runner-Up,Finals MVP,Unnamed: 5,Points,Rebounds,Assists,Win Shares
0,2021,NBA,Milwaukee Bucks,Phoenix Suns,G. Antetokounmpo,NaN,G. Antetokounmpo (634),G. Antetokounmpo (269),J. Holiday (199),G. Antetokounmpo (3.7)
1,2020,NBA,Los Angeles Lakers,Miami Heat,L. James,NaN,A. Davis (582),L. James (226),L. James (184),A. Davis (4.5)
2,2019,NBA,Toronto Raptors,Golden State Warriors,K. Leonard,NaN,K. Leonard (732),D. Green (223),D. Green (187),K. Leonard (4.9)
3,2018,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,NaN,L. James (748),D. Green (222),L. James (198),L. James (5.2)
4,2017,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,NaN,L. James (591),K. Love (191),L. James (141),L. James (4.3)
...,...,...,...,...,...,...,...,...,...,...
79,1951,NBA,Rochester Royals,New York Knicks,NaN,NaN,A. Risen (273),A. Risen (196),D. McGuire (78),B. Wanzer (2.7)
80,1950,NBA,Minneapolis Lakers,Syracuse Nationals,NaN,NaN,G. Mikan (376),NaN,J. Pollard (56),G. Mikan (3.7)
81,1949,BAA,Minneapolis Lakers,Washington Capitols,NaN,NaN,G. Mikan (303),NaN,J. Pollard (39),G. Mikan (4.2)
82,1948,BAA,Baltimore Bullets,Philadelphia Warriors,NaN,NaN,J. Fulks (282),NaN,H. Dallmar (37),C. Simmons (2.5)
83,1947,BAA,Philadelphia Warriors,Chicago Stags,NaN,NaN,J. Fulks (222),NaN,H. Dallmar (16),J. Fulks (2.3)

In [6]:
#Sort Champions df to only show Champions after 1990
champions_df = champions_df[(champions_df['Year'] > 1990)]
champions_df

,Year,Lg,Champion,Runner-Up,Finals MVP,Unnamed: 5,Points,Rebounds,Assists,Win Shares
0,2021,NBA,Milwaukee Bucks,Phoenix Suns,G. Antetokounmpo,NaN,G. Antetokounmpo (634),G. Antetokounmpo (269),J. Holiday (199),G. Antetokounmpo (3.7)
1,2020,NBA,Los Angeles Lakers,Miami Heat,L. James,NaN,A. Davis (582),L. James (226),L. James (184),A. Davis (4.5)
2,2019,NBA,Toronto Raptors,Golden State Warriors,K. Leonard,NaN,K. Leonard (732),D. Green (223),D. Green (187),K. Leonard (4.9)
3,2018,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,NaN,L. James (748),D. Green (222),L. James (198),L. James (5.2)
4,2017,NBA,Golden State Warriors,Cleveland Cavaliers,K. Durant,NaN,L. James (591),K. Love (191),L. James (141),L. James (4.3)
5,2016,NBA,Cleveland Cavaliers,Golden State Warriors,L. James,NaN,K. Thompson (582),D. Green (228),R. Westbrook (198),L. James (4.7)
6,2015,NBA,Golden State Warriors,Cleveland Cavaliers,A. Iguodala,NaN,L. James (601),D. Howard (238),L. James (169),S. Curry (3.9)
7,2014,NBA,San Antonio Spurs,Miami Heat,K. Leonard,NaN,K. Durant (563),T. Duncan (211),R. Westbrook (153),L. James (4.3)
8,2013,NBA,Miami Heat,San Antonio Spurs,L. James,NaN,L. James (596),T. Duncan (214),L. James (152),L. James (5.2)
9,2012,NBA,Miami Heat,Oklahoma City Thunder,L. James,NaN,L. James (697),L. James (224),R. Rondo (227),L. James (5.8)
10,2011,NBA,Dallas Mavericks,Miami Heat,D. Nowitzki,NaN,D. Nowitzki (582),T. Chandler (193),J. Kidd (153),L. James (3.8)
11,2010,NBA,Los Angeles Lakers,Boston Celtics,K. Bryant,NaN,K. Bryant (671),P. Gasol (255),R. Rondo (223),P. Gasol (4.3)
12,2009,NBA,Los Angeles Lakers,Orlando Magic,K. Bryant,NaN,K. Bryant (695),D. Howard (353),R. Rondo (137),L. James (4.8)
13,2008,NBA,Boston Celtics,Los Angeles Lakers,P. Pierce,NaN,K. Bryant (633),K. Garnett (274),R. Rondo (172),K. Garnett (4.1)
14,2007,NBA,San Antonio Spurs,Cleveland Cavaliers,T. Parker,NaN,L. James (501),T. Duncan (229),L. James (159),L. James (3.7)
15,2006,NBA,Miami Heat,Dallas Mavericks,D. Wade,NaN,D. Wade (654),D. Nowitzki (268),S. Nash (204),D. Nowitzki (5.4)
16,2005,NBA,San Antonio Spurs,Detroit Pistons,T. Duncan,NaN,T. Duncan (542),T. Duncan (286),S. Nash (170),C. Billups (4.6)
17,2004,NBA,Detroit Pistons,Los Angeles Lakers,C. Billups,NaN,K. Bryant (539),B. Wallace (328),C. Billups (136),S. O'Neal (3.9)
18,2003,NBA,San Antonio Spurs,New Jersey Nets,T. Duncan,NaN,T. Duncan (593),T. Duncan (369),J. Kidd (163),T. Duncan (5.9)
19,2002,NBA,Los Angeles Lakers,New Jersey Nets,S. O'Neal,NaN,S. O'Neal (541),S. O'Neal (239),J. Kidd (182),S. O'Neal (3.8)
20,2001,NBA,Los Angeles Lakers,Philadelphia 76ers,S. O'Neal,NaN,A. Iverson (723),D. Mutombo (316),A. Iverson (134),K. Bryant (3.8)
21,2000,NBA,Los Angeles Lakers,Indiana Pacers,S. O'Neal,NaN,S. O'Neal (707),S. O'Neal (355),M. Jackson (178),S. O'Neal (4.7)
22,1999,NBA,San Antonio Spurs,New York Knicks,T. Duncan,NaN,L. Sprewell (407),T. Duncan (195),A. Johnson (126),T. Duncan (3.7)
23,1998,NBA,Chicago Bulls,Utah Jazz,M. Jordan,NaN,M. Jordan (680),D. Rodman (248),J. Stockton (155),M. Jordan (4.8)
24,1997,NBA,Chicago Bulls,Utah Jazz,M. Jordan,NaN,M. Jordan (590),K. Malone (228),J. Stockton (191),M. Jordan (3.9)
25,1996,NBA,Chicago Bulls,Seattle SuperSonics,M. Jordan,NaN,M. Jordan (552),D. Rodman (247),J. Stockton (195),M. Jordan (4.7)
26,1995,NBA,Houston Rockets,Orlando Magic,H. Olajuwon,NaN,H. Olajuwon (725),S. O'Neal (250),A. Hardaway (162),S. O'Neal (3.0)
27,1994,NBA,Houston Rockets,New York Knicks,H. Olajuwon,NaN,H. Olajuwon (664),P. Ewing (293),J. Stockton (157),H. Olajuwon (4.3)
28,1993,NBA,Chicago Bulls,Phoenix Suns,M. Jordan,NaN,M. Jordan (666),C. Barkley (326),K. Johnson (182),C. Barkley (4.6)
29,1992,NBA,Chicago Bulls,Portland Trail Blazers,M. Jordan,NaN,M. Jordan (759),H. Grant (194),J. Stockton (217),M. Jordan (4.1)
30,1991,NBA,Chicago Bulls,Los Angeles Lakers,M. Jordan,NaN,M. Jordan (529),D. Rodman (177),M. Johnson (240),M. Jordan (4.8)

In [7]:

# Process champions df
champions_df['teamname'] = champions_df['Champion']
champions_df = champions_df.drop(['Champion','Lg', 'Runner-Up', 'Finals MVP', 'Unnamed: 5', 'Points', 'Rebounds', 'Assists', 'Win Shares'], axis=1)
champions_df

C:\Users\Admin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    Year               teamname
0   2021        Milwaukee Bucks
1   2020     Los Angeles Lakers
2   2019        Toronto Raptors
3   2018  Golden State Warriors
4   2017  Golden State Warriors
5   2016    Cleveland Cavaliers
6   2015  Golden State Warriors
7   2014      San Antonio Spurs
8   2013             Miami Heat
9   2012             Miami Heat
10  2011       Dallas Mavericks
11  2010     Los Angeles Lakers
12  2009     Los Angeles Lakers
13  2008         Boston Celtics
14  2007      San Antonio Spurs
15  2006             Miami Heat
16  2005      San Antonio Spurs
17  2004        Detroit Pistons
18  2003      San Antonio Spurs
19  2002     Los Angeles Lakers
20  2001     Los Angeles Lakers
21  2000     Los Angeles Lakers
22  1999      San Antonio Spurs
23  1998          Chicago Bulls
24  1997          Chicago Bulls
25  1996          Chicago Bulls
26  1995        Houston Rockets
27  1994        Houston Rockets
28  1993          Chicago Bulls
29  1992          Chicago Bulls
30  1991          Chicago Bulls

In [8]:
# Load the team_name.csv dataset.
csv_path = Path("team_name.csv")
team_name_df = pd.read_csv(csv_path)
team_name_df

                  teamname  abbr
0            Atlanta Hawks   ATL
1           Boston Celtics   BOS
2            Brooklyn Nets   BRK
3            Chicago Bulls   CHI
4        Charlotte Hornets   CHO
5      Cleveland Cavaliers   CLE
6         Dallas Mavericks   DAL
7           Denver Nuggets   DEN
8          Detroit Pistons   DET
9    Golden State Warriors   GSW
10         Houston Rockets   HOU
11          Indiana Pacers   IND
12    Los Angeles Clippers   LAC
13      Los Angeles Lakers   LAL
14       Memphis Grizzlies   MEM
15              Miami Heat   MIA
16         Milwaukee Bucks   MIL
17  Minnesota Timberwolves   MIN
18    New Orleans Pelicans   NOP
19         New York Knicks   NYK
20   Oklahoma City Thunder   OKC
21           Orlando Magic   ORL
22      Philadelphia 76ers   PHI
23            Phoenix Suns   PHO
24  Portland Trail Blazers   POR
25        Sacramento Kings   SAC
26       San Antonio Spurs   SAS
27         Toronto Raptors   TOR
28               Utah Jazz   UTA
29      Washington Wizards   WAS

In [9]:
champions_df['Year'] = champions_df['Year'].astype(str).str.slice(start=2)
#champions_df = champions_df.drop(['teamname'], axis = 1)
champions_df

   Year               teamname
0    21        Milwaukee Bucks
1    20     Los Angeles Lakers
2    19        Toronto Raptors
3    18  Golden State Warriors
4    17  Golden State Warriors
5    16    Cleveland Cavaliers
6    15  Golden State Warriors
7    14      San Antonio Spurs
8    13             Miami Heat
9    12             Miami Heat
10   11       Dallas Mavericks
11   10     Los Angeles Lakers
12   09     Los Angeles Lakers
13   08         Boston Celtics
14   07      San Antonio Spurs
15   06             Miami Heat
16   05      San Antonio Spurs
17   04        Detroit Pistons
18   03      San Antonio Spurs
19   02     Los Angeles Lakers
20   01     Los Angeles Lakers
21   00     Los Angeles Lakers
22   99      San Antonio Spurs
23   98          Chicago Bulls
24   97          Chicago Bulls
25   96          Chicago Bulls
26   95        Houston Rockets
27   94        Houston Rockets
28   93          Chicago Bulls
29   92          Chicago Bulls
30   91          Chicago Bulls

In [10]:
# merge Champions with thier stats from championship year- (PERFROM ML ON THIS DATA SET)
champ_stats_df = pd.merge(champions_df, stats_df, on=['Year', 'abbr'])
champ_stats_df

KeyError: 'abbr'

In [ ]:
# Load the cy_stats.csv dataset.
csv_path = Path("cy_stats.csv")
cy_stats_df = pd.read_csv(csv_path)
cy_stats_d